<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Sample</title>

<meta name="keywords" content="サンプル">
<meta name="description" content="サンプル">

</head>
<body>
<header id="header">
<div>
header
</div>
</header><!--/header -->

<div id="contents">
<h1>sample</h1>
<p>
<span>sample</span>
</p>
<ul>
  <li class="list">sample</li>
</ul>

<form name="sample" action="">
<input type="text" name="sample_text" value="">
<input type="submit" value="Submit!">
</form>
</div><!--/contents -->

<footer id="footer">
<div>
footer
</div>
</footer><!--/footer-->

</body>
</html>
